:root{
    background-image: url(/img/background.png);
    background-repeat: repeat;
    background-color: rgb(95, 93, 93);
    background-attachment: fixed;
}

header, #menu, #cart{
    background-color: #ffffffaa;
    border: 1px solid #000;
}

header{
    text-align: center;
    max-width: 80rem;
    min-width: 20rem;
    margin: 0.5rem auto;
}

header h1{
    color:chocolate;
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900;
    text-shadow: 1px 1px 1px #000;
}

main{
    max-width: 80rem;
    min-width: 20rem;
    margin: 0.5rem auto;
    display: flex;
    flex-direction: row;
}

#menu, #cart{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #000 #fff;
    height: 80vh;
    width: 50%;
    min-width: 20rem;
    padding: 0 0.5rem;
}

h2{
    color:olivedrab;
    font-size: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900;
    text-shadow: 1px 1px 1px #000;
    text-align: center;
    border-bottom: 1px solid #000;
}

@media (max-width: 43rem){
    main {
        flex-direction: column;
    }
    #menu, #cart{
        width: 96%;
        margin: 0 auto;
    }
    #cart{
        margin-top: 0.5rem;
    }
}